body {
  margin:auto;
  width:80%;
}

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
  border: 1px dotted #000;
  padding: 10px;
  margin: 10px;
}

nav li{
  display: inline-block;
  border: 1px solid #000;
  margin: 20px;
}

.warning{
  font-weight:bold;
}

#SiteTitle{
  vertical-align: middle;
}

#SiteLogo{
  height: 75px;
  width: 150px;
}

.flex-container{
  display:-webkit-flex;
  display:flex;
  flex-direction: row;
}
